*{
    margin: 0;
}

:root{
    --main-color: #F6F8F9;
    --header_color: white;
    --style_color_button_one: #14AAF5;
    --style_color_button_two: white;
}

.display{
    display: inline-block;
}

body{
    background-color: var(--main-color)
}

/*********  header *********/

#site_header{
    background-color: var(--header_color);
}

#logo{
    height: 7rem;
    width: 7rem;
}

#logotext{
    vertical-align: top;
    margin-top: 2rem;
    font-size: 2.5rem;
}

/********* main ***********/

/* start first block */
#first_block{
    width: 70rem;
    height: 5rem;
    background-color: var(--header_color);
    margin-top: 5rem;
    border-radius: 0.5rem;
}

#style_button{
    padding: 2rem;
}

.style_button_size{
    font-size: 0.75rem;
    width: 5.5rem;
    height: 1.8rem;
    border-radius: 0.3rem;
}

#style_color_button_one{
    background-color: var(--style_color_button_one);
    color: white;
}

#style_color_button_two{
    background-color: var(--style_color_button_two);
    color: gray;
}

/* start second block */

#second_block{
    width: 70rem;
    height: 40rem;
    background-color: var(--header_color);
    margin-top: .10rem;
    border-radius: 0.5rem;
}

.general_text{
    padding: 2rem;
}

.style_check{
    color: #52D1BA;
    font-size: 1.6rem;
}

.style_dx_text{
    color: white;
    border-radius: 1rem;
}

.editors_button{
    background-color: var(--style_color_button_one);
    height: 0.9rem;
    width: 2.8rem;
    font-size: 0.8rem;
    padding: 6px;
}
/******** footer *******/
