*{
    margin: 0;
    
}

:root{
    --main-color: #f5f373;
    --header_color: rgb(156, 107, 107);
    --style_color_button_one: #264352;
    --style_color_button_two: rgb(158, 28, 28);
    --style_color_button_text_firstone: #133e53;
    --style_color_button_text_one: #2382b9;
    --style_color_button_text_two: #2CC6AB;
    --style_color_button_text_three: #FF9B00;
    --style_color_button_text_four: #2f8651;
    --style_color_button_text_five: #193353;
}

.display{
    display: inline-block;
}

body{
    background-color: var(--main-color);
    color: #444952;
}

/*********  header *********/

#site_header{
    background-color: var(--header_color);
}

#logo{
    height: 7rem;
    width: 7rem;
}

#logotext{
    vertical-align: top;
    margin-top: 2rem;
    font-size: 2.5rem;
    color: black;
}

/********* main ***********/

/* start first block */

#central_block{
    margin: 0 auto;
    width: 70rem;
}

#first_block{
    width: 70rem;
    height: 5rem;
    background-color: var(--header_color);
    margin-top: 5rem;
    border-radius: 0.5rem;
}

#style_button{
    padding: 2rem;
}

.style_button_size{
    font-size: 0.75rem;
    width: 5.5rem;
    height: 1.8rem;
    border-radius: 0.3rem;
}

#style_color_button_one{
    background-color: var(--style_color_button_one);
    color: white;
}

#style_color_button_two{
    background-color: var(--style_color_button_two);
    color: gray;
}

/* start second block */

h2{
    color: black;
}

#second_block{
    width: 70rem;
    height: 37rem;
    background-color: var(--header_color);
    margin-top: .10rem;
    border-radius: 0.5rem;
}

.general_text{
    padding: 2rem;
}

.style_check{
    color: #52D1BA;
    font-size: 1.6rem;
}

.style_dx_text{
    color: white;
    border-radius: 1rem;
}

.editorial_button{
    background-color: var(--style_color_button_text_firstone);
    height: 0.9rem;
    width: 2.8rem;
    font-size: 0.8rem;
    padding: 6px;
}

.q1Goals_button{
    background-color: var(--style_color_button_text_one);
    height: 0.9rem;
    width: 3.1rem;
    font-size: 0.8rem;
    padding: 6px;
}

.recluiting_button{
    background-color: var(--style_color_button_text_two);
    height: 0.9rem;
    width: 3.4rem;
    font-size: 0.8rem;
    padding: 6px;
}

.mobile_button{
    background-color: var(--style_color_button_text_three);
    height: 0.9rem;
    width: 2.25rem;
    font-size: 0.8rem;
    padding: 6px;
}

.website_button{
    background-color: var(--style_color_button_text_four);
    height: 0.9rem;
    width: 2.5rem;
    font-size: 0.8rem;
    padding: 6px;
}

.sales_button{
    background-color: var(--style_color_button_text_five);
    height: 0.9rem;
    width: 1.7rem;
    font-size: 0.8rem;
    padding: 6px;
}

.mobile_button{
    background-color: var(--style_color_button_text_firstone);
    height: 0.9rem;
    width: 2.8rem;
    font-size: 0.8rem;
    padding: 6px;
}

/******** footer *******/

#site_footer{
    margin: 0 auto;
    width: 70rem;
    text-align: center;
}